---
import Icon from "./Icon.astro";
---

<section class="box skills">
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="terminal-window"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>Full Stack</h2>
    <p>
      Proficient in full-stack development, I specialize in using Twig for
      efficient templating alongside PHP, particularly Symfony, for robust
      back-end solutions. On the front-end, I excel in crafting responsive
      interfaces using JavaScript. This skill combination ensures
      high-performance applications and seamless user experiences across
      platforms.
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
    <h2>Embedded Computing</h2>
    <p>
      In my role as an Embedded Computing Technician Referent, I excel in
      providing technical leadership and guidance for complex projects involving
      embedded systems. I oversee technical aspects, mentor teams, and drive
      projects to success through efficient communication and problem-solving. I
      navigate intricate technical challenges to ensure optimal outcomes.
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="strategy"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>Technical Trainer</h2>
    <p>
      As a dedicated Technical Trainer, I bring a passion for knowledge sharing
      and skill development. My role revolves around empowering individuals and
      teams with the technical expertise needed to excel in their roles. I craft
      comprehensive training programs, deliver engaging workshops, and provide
      hands-on guidance, ensuring participants grasp complex technical concepts
      effectively.
    </p>
  </div>
</section>

<style>
  .box {
    border: 1px solid var(--gray-800);
    border-radius: 0.75rem;
    padding: 1.5rem;
    background-color: var(--gray-999_40);
    box-shadow: var(--shadow-sm);
  }

  .skills {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .skills h2 {
    font-size: var(--text-lg);
  }

  .skills p {
    color: var(--gray-400);
  }

  @media (min-width: 50em) {
    .box {
      border-radius: 1.5rem;
      padding: 2.5rem;
    }

    .skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5rem;
    }

    .skills h2 {
      font-size: var(--text-2xl);
    }
  }
</style>
